@font-face {
       font-family: "Museo Sans";
       src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"),
              url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot") format("eot"),
              url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("ttf");
       font-weight: 300;
       font-display: swap;
}
@font-face {
       font-family: "Museo Sans";
       src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"),
              url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot") format("eot"),
              url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("ttf");
       font-weight: 700;
       font-display: swap;
}